html, body{
    width: 100%;
}

body{
    width: auto;
    padding: 0;
    margin: 0;
    background-color: white;
    font-family: 'Roboto Serif';
}

ul li{
    list-style-type: none;
}

#promo{
    width: auto;
    background-color: #F0DACD;
    font-size: 15px;
    font-style: normal;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

#promo1, #promo2, #promo3{
    max-width: max-content;
    margin: 0px 30px;
}

#top-menu{
    background-color: white;
}

header{
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#menu{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

#logo{
    display: flex;
    align-items: center;
    max-width: max-content;
}

#logo img{
    width: 48px;
    height: 57px;
}

#logo p{
    margin: 0;
    padding: 0;
    text-align: right;
}

header p{
    font-size: 24px;
    font-weight: 600;
    color: #29180F;
    font-style: italic;
    max-width: min-content;
}

nav ul{
    text-align: center;
    padding: 0;
}

nav ul li{
    display: inline-block;
    font-size: 18px;
    font-style: normal;
    margin: 0px 30px;
}

nav ul li a{
    text-decoration: none;
    display: block;
    padding: 0;
    color: black;
}

#social-medias img{
    width: 24px;
    height: 24px;
    margin: 0 10px;
}

#button-buy button{
    width: 131px;
    height: 33px;
    color: white;
    background-color: #89D3D1;
    border: none;
    border-radius: 71px;
    text-align: center;
    font-family: 'Roboto Serif';
    font-size: 16px;
    font-weight: 500;
}

#banner{
    background-color: #C9B079;
    height: 628px;
    background-image: url(images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#text-banner{
    font-size: 24px;
    font-weight: 500;
    display: flex;
    justify-content: center;
}

#text-banner p{
    padding: 15px;
    margin: 0;
    display: inline-block;
}

#text-banner #p-left{
    color: #29180F;
    background-color: white;
    padding-right: 90px;
    padding-left: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    left: 350px;
    border: 3px solid #C9B079;
    border-top: none;
    box-shadow: -5px 5px 20px gray;
}

#text-banner #p-right{
    color: white;
    background-color: #BF8B70;
    padding-right: 40px;
    padding-left: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 50px;
    position: absolute;
    left: 650px;
    border: 3px solid #C9B079;
    border-top: none;
    box-shadow: 5px 5px 20px gray;
}

#collection, #other-products1, #other-products2, #news{
    background-color: #F7F2EC;
}

#collection{
    border: 2px solid #F7F2EC;
    justify-items: center;
}

#collection h1{
    color: #29180F;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 10px;
}

#collection-p{
    text-align: center;
    font-size: 20px;
    margin: 0;
    width: 54%;
    margin-bottom: 20px;
}

.debut{
    background-color: white;
    border: 2px solid white;
    display: inline-block;
    justify-items: center;
    text-align: center;
    width: 390px;
    height: 487px;
    border-radius: 28px;
    margin: 30px;
}

.debut img{
    width: 390px;
}

.debut h2{
    font-size: 24px;
    font-weight: 600;
    padding: 0;
}

.debut p{
    font-size: 16px;
    font-weight: 400;
    padding: 0 50px;
}

#characteristics, #opinions{
    background-color: #639a88;
}

#newsletter, #links{
    background-color: #F0DACD;
}